@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InternetShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-body-tertiary border-bottom box-shadow mb-3 px-3">
            <a class="navbar-brand fw-bold text-primary" asp-area="" asp-page="/Index">
                <i class="fa-brands fa-ethereum"></i> Shop
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex align-items-center justify-content-between">
                <ul class="navbar-nav flex-grow-1 align-items-center">
                    <li class="nav-item">
                        <a class="nav-link px-3" asp-area="" asp-page="/Index">Catalog</a>
                    </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-3" asp-area="" asp-page="/Favorites/Index">
                                <i class="fa-regular fa-heart"></i> Favorites
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" asp-area="" asp-page="/Cart/Index">
                                <i class="fa-solid fa-cart-shopping"></i> Cart
                            </a>
                        </li>
                    }

                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-warning px-3" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-screwdriver-wrench"></i> Admin Panel
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Admin/Products">Manage Products</a></li>
                                <li><a class="dropdown-item" href="/Admin/Orders">Monitor Orders</a></li>
                            </ul>
                        </li>
                    }
                </ul>

                <div class="d-flex align-items-center">
                    <partial name="_LoginPartial" />

                    <button class="btn btn-outline-info btn-sm ms-3" id="themeToggle">
                        <i class="fa-solid fa-moon"></i> Theme
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container d-flex justify-content-between">
            <span>&copy; 2026 - Shop</span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

    <script>
        document.getElementById('themeToggle').addEventListener('click', () => {
        const htmlElement = document.documentElement;
        const currentTheme = htmlElement.getAttribute('data-bs-theme');
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
        htmlElement.setAttribute('data-bs-theme', newTheme);
        if (newTheme == 'light') {
        htmlElement.classList.remove("bg-body");
        htmlElement.classList.add("bg-info");
        }
        else {
        htmlElement.classList.remove("bg-info");
        htmlElement.classList.add("bg-body");
        }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>